[submodule "d3"]
	path = d3
	url = git://github.com/mbostock/d3.git
[submodule "jquery-svg"]
	path = jquery-svg
	url = git://github.com/apendleton/jquery-svg.git
[submodule "jquery-cookie"]
	path = jquery-cookie
	url = git://github.com/carhartl/jquery-cookie.git
