[submodule "ui/less.js"]
	path = ui/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "ui/jquery-svg"]
	path = ui/jquery-svg
	url = git://github.com/apendleton/jquery-svg.git
[submodule "ui/d3"]
	path = ui/d3
	url = git://github.com/mbostock/d3.git
[submodule "ui/jquery-cookie"]
	path = ui/jquery-cookie
	url = git://github.com/carhartl/jquery-cookie
[submodule "graphd/giraph/giraph"]
	path = graphd/giraph/giraph
	url = git://git.apache.org/giraph.git
