[submodule "buildkit"]
	path = buildkit
	url = git://github.com/netj/buildkit.git
[submodule "ui/lib/requirejs"]
	path = ui/lib/requirejs
	url = git://github.com/jrburke/requirejs.git
[submodule "ui/lib/less.js"]
	path = ui/lib/less.js
	url = git://github.com/cloudhead/less.js.git
[submodule "ui/lib/jquery-svg"]
	path = ui/lib/jquery-svg
	url = git://github.com/apendleton/jquery-svg.git
[submodule "ui/lib/d3"]
	path = ui/lib/d3
	url = git://github.com/mbostock/d3.git
[submodule "ui/lib/jquery-cookie"]
	path = ui/lib/jquery-cookie
	url = git://github.com/carhartl/jquery-cookie
[submodule "graphd/giraph/giraph"]
	path = graphd/giraph/giraph
	url = https://github.com/apache/giraph.git #git://git.apache.org/giraph.git
